<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
       <!-- <clear /> -->
        <!-- For Example -->
        <!-- Important!!! Rule Name can't be repeated.  -->
        <!-- <rule name="Rewrite Resource Page" stopProcessing="true">
          <match url="about/index.html" />
          <action type="Rewrite" url="https://www.dynamsoft.com/web-twain/resources/" appendQueryString="true"  />
        </rule> -->
        <rule name="webp" stopProcessing="true">
          <match url="(.+)\.(jpe?g|png)$" />
          <serverVariables>
          </serverVariables>
          <action type="Rewrite" url="{R:1}.webp" />
          <conditions>
              <add input="{HTTP_ACCEPT}" pattern="image/webp" />
              <add input="{DOCUMENT_ROOT}/web-twain/docs/{R:1}.webp" matchType="IsFile" />
          </conditions>
        </rule>
        
        <rule name="Redirect rule30 for redirect dnt/kb pages" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/troubleshooting/common-errors/activating-the-WebTwain-instance.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/indepth/faqs/troubleshooting/activating-the-WebTwain-instance-prompt-doesnt-disappear.html?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect /indepth/faqs/distribution/How-to-set-the-MIME-type.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/faqs/distribution/How-to-set-the-MIME-type.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="{HTTP_POST}/web-twain/docs/indepth/deployment/server.html#make-sure-the-static-files-can-be-served-correctly" appendQueryString="false" logRewrittenUrl="false" />
        </rule>
        
        <rule name="Redirect rule59 - https://www.dynamsoft.com/web-twain/docs/about/faqs.html" enabled="true" patternSyntax="ECMAScript">
          <match url="about/faqs.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/indepth/faqs/?ver=latest" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect https://www.dynamsoft.com/web-twain/docs/faq/how-to-enable-remote-scan.html" enabled="true" patternSyntax="ECMAScript">
          <match url="faq/how-to-enable-remote-scan.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/remote-scan/docs/introduction/" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect https://www.dynamsoft.com/web-twain/docs/faq/how-come-would-some-customers-need-local.dynamsoft.com.html" enabled="true" patternSyntax="ECMAScript">
          <match url="faq/how-come-would-some-customers-need-local.dynamsoft.com.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/faq/how-come-would-you-need-local.dynamsoft.com.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect https://www.dynamsoft.com/web-twain/docs/indepth/development/mobile-web-capture.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/development/mobile-web-capture.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/use-cases/mobile-web-capture-sdk/" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect index page https://www.dynamsoft.com/web-twain/docs/general-usage/image-import/index.html" enabled="true" patternSyntax="ECMAScript">
          <match url="general-usage/image-import/index.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect scanning guide https://www.dynamsoft.com/web-twain/docs/general-usage/scanner-image-acquisition.html" enabled="true" patternSyntax="ECMAScript">
          <match url="general-usage/scanner-image-acquisition.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/scanner-image-acquisition.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect file import guide https://www.dynamsoft.com/web-twain/docs/general-usage/scanner-image-acquisition.html" enabled="true" patternSyntax="ECMAScript">
          <match url="general-usage/file-import.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/extended-usage/file-import.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect barcode processing guide https://www.dynamsoft.com/web-twain/docs/extended-usage/barcode-processing.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/barcode.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/extended-usage/barcode-processing.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect buffer caching guide https://www.dynamsoft.com/web-twain/docs/extended-usage/barcode-processing.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/buffer.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/extended-usage/buffer-caching.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect service configuration guide https://www.dynamsoft.com/web-twain/docs/extended-usage/dynamsoft-service-configuration.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/deployment/service.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/extended-usage/dynamsoft-service-configuration.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect extended usage guide https://www.dynamsoft.com/web-twain/docs/extended-usage/index.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/extended-usage/index.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect PDF compression guide https://www.dynamsoft.com/web-twain/docs/extended-usage/pdf-compression.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/pdfc.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/extended-usage/pdf-compression.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect PDF processing guide https://www.dynamsoft.com/web-twain/docs/extended-usage/pdf-processing.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/pdf.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/extended-usage/pdf-processing.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect system message configuration guide https://www.dynamsoft.com/web-twain/docs/extended-usage/system-message-configuration.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/ui.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/extended-usage/system-message-configuration.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect UI customization guide https://www.dynamsoft.com/web-twain/docs/extended-usage/ui-customization.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/ui.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/extended-usage/ui-customization.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect general usage guide https://www.dynamsoft.com/web-twain/docs/general-usage/index.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/index.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect general initialization guide https://www.dynamsoft.com/web-twain/docs/general-usage/initialization.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/initialize.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/initialization.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect license key usage guide https://www.dynamsoft.com/web-twain/docs/general-usage/license.html" enabled="true" patternSyntax="ECMAScript">
          <match url="about/license.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/license.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect general scanning guide https://www.dynamsoft.com/web-twain/docs/general-usage/scanner-image-acquisition.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/input.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/scanner-image-acquisition.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect server deployment guide https://www.dynamsoft.com/web-twain/docs/general-usage/server-deployment.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/deployment/server.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/server-deployment.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect server-side scripting guide https://www.dynamsoft.com/web-twain/docs/general-usage/server-side-scripting.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/development/Server-script.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/server-side-scripting.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect viewer configuration guide https://www.dynamsoft.com/web-twain/docs/general-usage/viewer-configuration.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/viewer.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/viewer-configuration.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect image export guide https://www.dynamsoft.com/web-twain/docs/general-usage/image-export/index.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/output.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/image-export/index.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect local image export guide https://www.dynamsoft.com/web-twain/docs/general-usage/image-export/local-export.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/output.html#save" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/image-export/local-export.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect general server upload guide https://www.dynamsoft.com/web-twain/docs/general-usage/image-export/server-upload.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/output.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/image-export/server-upload.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect buffer management guide https://www.dynamsoft.com/web-twain/docs/general-usage/image-processing/buffer-management.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/buffer.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/image-processing/buffer-management.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect general image editing guide https://www.dynamsoft.com/web-twain/docs/general-usage/image-processing/image-editing.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/edit.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/image-processing/image-editing.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect general image processing guide https://www.dynamsoft.com/web-twain/docs/general-usage/image-processing/index.html" enabled="true" patternSyntax="ECMAScript">
          <match url="indepth/features/edit.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/general-usage/image-processing/index.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect hello world editing guide https://www.dynamsoft.com/web-twain/docs/hello-world/editing.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/editing.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/hello-world/editing.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect hello world guide https://www.dynamsoft.com/web-twain/docs/hello-world/index.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/helloworld.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/hello-world/index.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect hello world scan settings guide https://www.dynamsoft.com/web-twain/docs/hello-world/scan-settings.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/scansettings.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/hello-world/scan-settings.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect hello world scanning guide https://www.dynamsoft.com/web-twain/docs/hello-world/scanning.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/scanning.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/hello-world/scanning.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect hello world uploading guide https://www.dynamsoft.com/web-twain/docs/hello-world/uploading.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/uploading.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/hello-world/uploading.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect imaging hardware https://www.dynamsoft.com/web-twain/docs/introduction/imaging-hardware.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/hardware.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/introduction/imaging-hardware.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect introduction https://www.dynamsoft.com/web-twain/docs/introduction/index.html" enabled="true" patternSyntax="ECMAScript">
          <match url="about/" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/introduction/index.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect supported file formats https://www.dynamsoft.com/web-twain/docs/introduction/supported-file-formats.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/filetype.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/introduction/supported-file-formats.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>

        <rule name="Redirect system requirements https://www.dynamsoft.com/web-twain/docs/introduction/system-requirements.html" enabled="true" patternSyntax="ECMAScript">
          <match url="getstarted/platform.html" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="{HTTP_POST}/web-twain/docs/introduction/system-requirements.html" appendQueryString="false" logRewrittenUrl="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>