# This is a basic workflow to help you get started with Actions

name: Private-Repo-Build

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Build-v18-4:
    if: ${{ github.ref == 'refs/heads/18.4' }}
    # The type of runner that the job will run on
    runs-on: [self-hosted, doc-build]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      - name: Build the full site - main
        run: |
          cd ${{ runner.temp }}
          mkdir -p DWTDocArchive
          git clone --depth 1 --branch v18.4 https://${{ secrets.GIT_USER }}:${{ secrets.GIT_PAT }}@github.com/dynamsoft-docs/web-twain-docs.git web-twain-docs-archive
          git clone --depth 1 --branch dwt-v18.4 https://github.com/dynamsoft-docs/Docs-Template-Repo.git Docs-Template-Repo-archive
          cp -rfp ./web-twain-docs-archive/* ./DWTDocArchive/
          cp -rfp ./Docs-Template-Repo-archive/* ./DWTDocArchive/
          cd DWTDocArchive && bundle install && bundle exec jekyll build

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.FTP_DYNAMSOFT_LOCAL_SERVER }}
          username: ${{ secrets.FTP_DYNAMSOFT_LOCAL_USER }}
          password: ${{ secrets.FTP_DYNAMSOFT_LOCAL_PASSWORD }}
          port: 21 
          local-dir: ${{ runner.temp }}/DWTDocArchive/_site/
          server-dir: /www.dynamsoft.com/web-twain/docs-archive/v18.4/        

      - name: Trigger Webhook 
        run: | 
          curl -X POST -H "${{ secrets.WEBHOOK_USER }}" -H "${{ secrets.WEBHOOK_TOKEN }}" -H "Content-Type: application/json" -d "[\"/web-twain/docs/*\"]" ${{ secrets.WEBHOOK_URL }}


